<h2>My Pages</h2>
<ul class="pages">
  <li *ngFor="let page of pages"
      (click)="onSelect(page)"
      [class.selected]="page === selectedPage">
    <span class="page-element">
      <span class="badge">{{page.id}}</span> {{page.title}}
    </span>
    <button class="delete-button"
            (click)="delete(page, $event)">Delete</button>
  </li>
</ul>

<button (click)="addPage()">Add New Page</button>
<div *ngIf="addingPage">
  <my-page-detail (close)="close($event)"></my-page-detail>
</div>

<div *ngIf="selectedPage">
  <h2>
    {{selectedPage.title | uppercase}} is your current page
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
